.App {
  text-align: center;
	width: 100%;
	min-height: 100vh;
	background: url('/src/assets/images/sky.jpg') no-repeat;
	display: flex;
	flex-direction: column;

}

.App-rain {
	text-align: center;
	min-height: 100vh;
	background: url('/src/assets/images/rain.jpg') no-repeat;
	display: flex;
	flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  
	height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 15px;
  color: white;
	flex-direction: column;
}

.App-error {
	color: red;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
